@import './base.css';
@import "tailwindcss";

/* body {
  background-color: blueviolet;
} */

#app {
  height: 100%;
  min-height: 100vh;

  margin: 0 auto;
  font-weight: normal;

  padding-top: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}